#homepage {
  display: flex;
  justify-content: space-between;
  background-color: aquamarine;
  margin: 0;
  padding: 0;
}

#logo h1 {
  display: inline-block;
  margin-left: 10px;
  filter: grayscale(100%) brightness(150%);
}

#menu ul li a:hover,
#menu ul li a.active {
  border-bottom: 5px solid;
  transform: translateY(-5px) scale(1.1);
}

#menu ul li a {
  text-decoration: none;
  border-bottom: 5px solid transparent;
  margin-right: 10px;
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5),
    -1px -1px 0 rgba(255, 255, 255, 0.5), 1px -1px 0 rgba(255, 255, 255, 0.5),
    -1px 1px 0 rgba(255, 255, 255, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#menu {
  margin-top: 16px;
  position: relative;
}

#menu ul li {
  list-style: none;
  padding: 0;
  display: block;
}

.dropdown {
  position: relative;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.show-sub-menu .sub-menu {
  display: block;
}

.sub-menu li {
  list-style: none;
}

.sub-menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
}

figure {
  position: relative;
  display: inline-block;
}

img {
  display: block;
  position: relative;
  top: 50%;
  width: 100%;
}

figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  color: black;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  size: 20px;
}

#introtext {
  font-size: 50px;
  margin-bottom: 20px;
  color: red;
  position: relative;
  top: 69%;
  transform: translateY(-50%);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  background-color: aquamarine;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: lightblue;
}

.pengurus {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 100%;
  max-width: 300px;
  background-color: rgb(234, 228, 228);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.pengurus img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.5s ease;
  border: 5px solid rgb(76, 74, 74);
}

.pengurus h3 {
  margin-top: 10px;
  text-align: center;
}

.pengurus p {
  margin-top: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .pengurus {
    flex-direction: row;
    justify-content: center;
    max-width: 600px;
    margin: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .pengurus {
    max-width: 800px;
    margin: 20px;
  }
}

/* Default styles */

/* Add your default styles here */

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
  #homepage {
    flex-direction: column;
  }

  #menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #menu ul li {
    margin-bottom: 10px;
  }

  .pengurus {
    width: 100%;
    margin: 10px;
  }
}

/* Media query for screens between 600px and 1024px */
@media (min-width: 600px) and (max-width: 1024px) {
  /* Add your specific styles for this range of screen sizes */
}

/* Media query for screens larger than 1024px */
@media (min-width: 1024px) {
  /* Add your specific styles for this range of screen sizes */
}

.button {
  font-size: 24px;
  width: 200px;
  margin: 0 auto;
  display: block;
}
